/*Colors*/

$white:#fff;
$black:#000000;
$bg-dark:#030303;
$dark-red:#710707;
$font-gold:#9d8665;
$active-gold:#7e6c51;


/*Fonts*/

$roboto:'Roboto',
sans-serif;
$forum:'Forum',
cursive;

/*Adaptive*/

$breakpoint_xl:1024px;
$breakpoint_m:768px;
$breakpoint_sm:420px;
