@font-face {
    font-family: 'Arial-MT';
    src: url("../assets/fonts/Arial-MT.woff");
    /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    min-height: 220px;
    padding: 20px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-bottom: 20px;
}

.progress-bar,
.volume-bar {
    width: 400px;
    height: 5px;
    margin: 12px 0;
}

.volume-bar {
    width: 120px;
}

.volume-button {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    opacity: .8;
}

.volume-button:hover {
    opacity: 1;
}

.volume-inner {
    display: flex;
    margin-bottom: 10px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: white;
    border-radius: 100px;
    opacity: .8;
}

input[type='range']:hover {
    opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: white;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    opacity: .8;

}

input[type='range']::-webkit-slider-thumb:hover {
    opacity: 1;
}

progress-inner {
    display: flex;
    flex-direction: column;
}


.time-inner {
    display: flex;
    margin-bottom: 5px;
}

.play-list {
    text-align: left;
}

.play-item {
    position: relative;
    padding: 5px;
    padding-left: 40px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
    background-image: url(../assets/svg/play.svg);
    background-size: 7%;
    background-repeat: no-repeat;
}

.mute {
    background-image: url(../assets/svg/pause.svg);
    background-size: 7%;
    background-repeat: no-repeat;
    color: #67fe09;
}


.play-item:hover {
    opacity: 1;
}


.item-active::before {
    color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
    opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../assets/svg/play.svg");
}

.play-small {}

.pause {
    background-image: url("../assets/svg/pause.svg");
}

.play-prev {
    background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
    background-image: url("../assets/svg/play-next.svg");
}

.settings-inner {
    position: absolute;
    left: -100px;
}

.settings {
    width: 32px;
    height: 32px;
}

.weather {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;
    text-align: left;
}

.weather-error {
    margin-top: -10px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.city {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.city::placeholder {
    font-size: 20px;
    color: #fff;
    opacity: .6;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: 260px;
    padding: 20px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.slide-prev {
    left: 20px;
    background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
    right: 20px;
    background-image: url("../assets/svg/slider-next.svg");
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;
}

.date {
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
}

.greeting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    font-size: 40px;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.name::placeholder {
    color: #fff;
    opacity: .6;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30vh;
    min-height: 160px;
    padding: 20px;
}

.change-quote {
    margin-bottom: 30px;
    background-image: url("../assets/svg/reload.svg");
}

.quote {
    min-height: 32px;
}

.author {
    min-height: 20px;
}

@media (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }

    .greeting-container {
        min-height: 40px;
        font-size: 32px;
    }

    .greeting {
        padding: 5px;
    }

    .name {
        font-size: 32px;
        padding: 5px;
    }
}

.toDoInput {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.footer-info {
    align-self: flex-end;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #d5d5d5;
}


.booking__wrapper {
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.7);
    position: fixed;
    top: 0;
    left: -3000px;
    z-index: 10;
    transition: left .5s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.form__active {
    left: 0;
}

.booking {
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
    height: 500px;
    padding-top: 20px;
    position: relative;
    background-color: #272422f0;
    cursor: default;
}

.booking-close {
    width: 25px;
    height: 25px;
    background-color: transparent;
    position: absolute;
    top: 29px;
    right: 31px;
    cursor: pointer;
}

.modal-close {
    transition: all .3s ease;
}

.booking-close,
.modal-close:hover {
    transform: rotate(180deg);
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}

.modal-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.modal-subtitle {
    font-size: 25px;
    margin: 15px 0;
    font-weight: 300;
}

.settings-text {
    font-size: 20px;
    font-weight: 300;
}

.settings-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    max-width: 350px;
}

.settings-button {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    opacity: .8;
}

.settings-button:hover {
    opacity: 1;
}

.displaying-block {
    columns: 2;
    column-gap: calc(100% - 700px);
}

.settings-button-block {
    margin-bottom: 20px;
}

.toDo-list {
    align-self: flex-end;
}

.toDo-img {
    width: 32px;
    height: 32px;
}